<html>
  <body>
    <h1>Notes</h1>
      {% for note in Notes %}
      <p>{{note.title}} {{note.content}} {{note.created_date}} {{note.modified_date}}</p>
      {% endfor %}
    </div>
    <div>
    <h1>Notes history</h1>
      {% for note in NotesHistory %}
      <p>{{note.id}} {{note.note_id}} {{note.title}} {{note.content}} {{note.created_date}} {{note.modified_date}}</p>
      {% endfor %}
    </div>
    <div>
    <h1>Notes deleted</h1>
      {% for note in NotesDeleted %}
      <p>{{note.id}} {{note.note_id}} {{note.title}} {{note.content}} {{note.created_date}} {{note.modified_date}} {{note.deletion_date}}</p>
      {% endfor %}
    </div>
    </div>
  </body>
</html>
